PORT=3000
JWT_SECRET=change-me
JWT_EXPIRES_IN=30d
RESET_APP_URL=https://resetscannfce.herokuapp.com
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_URL=
MAIL_HOST=
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=
MAIL_PASS=
